<!DOCTYPE html>
<htmL>
    <head>

        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="icon" href="./img/cloud.jpg"/>
        <title>About</title>

    </head>
    <body>
      

      <div class="main-content">

        {{>header}}
      
          <img src="/img/itachi.jpg" class="portrait"/>

          </div>

          {{>footer}}
    </body>
</htmL>